.alert {
  font-size: $font-size-base;
}

.alert-icon {
  padding-left: 3rem;

  > i {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1rem;
    color: inherit !important;
  }
}

.alert-avatar {
  padding-left: 3.75rem;

  .avatar {
    position: absolute;
    top: .5rem;
    left: .75rem;
  }
}
