textarea {
  // stylelint-disable-next-line selector-no-qualifying-type
  &[cols] {
    height: auto;
  }
}

.form-label {
  display: block;
  margin-bottom: .375rem;
  font-size: px2rem(14px);
  font-weight: 600;
}

.form-label-small {
  float: right;
  font-size: $small-font-size;
  font-weight: 400;
}

.form-footer {
  margin-top: 2rem;
}

/**
Icon input
 */
.input-icon {
  position: relative;

  .form-control:not(:last-child) {
    padding-right: 2.5rem;
  }

  .form-control:not(:first-child) {
    padding-left: 2.5rem;
  }
}

.input-icon-addon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.5rem;
  color: $text-muted;
  pointer-events: none;

  &:last-child {
    right: 0;
    left: auto;
  }
}

.form-fieldset {
  padding: 1rem;
  margin-bottom: 1rem;
  background: $gray-100;
  border: 1px solid $gray-200;
  border-radius: 3px;
}

.form-required {
  color: $red;

  &::before {
    content: " ";
  }
}

.state-valid {
  padding-right: 2rem;
  background:
    str-replace(
      url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#{$green}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'><polyline points='20 6 9 17 4 12'></polyline></svg>"),
      "#",
      "%23"
    )
    no-repeat center right .5rem/1rem;
}

.state-invalid {
  padding-right: 2rem;
  background:
    str-replace(
      url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#{$red}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-x'><line x1='18' y1='6' x2='6' y2='18'></line><line x1='6' y1='6' x2='18' y2='18'></line></svg>"),
      "#",
      "%23"
    )
    no-repeat center right .5rem/1rem;
}

.form-help {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  font-size: px2rem(12px);
  line-height: 1rem;
  color: $text-muted;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  background: $gray-100;
  border-radius: 50%;
  transition: .3s background-color, .3s color;

  &:hover,
  &[aria-describedby] {
    color: #fff;
    background: $primary;
  }
}
