.img-gallery {
  margin-right: -.25rem;
  margin-bottom: -.5rem;
  margin-left: -.25rem;

  > .col,
  > [class*="col-"] {
    padding-right: .25rem;
    padding-bottom: .5rem;
    padding-left: .25rem;
  }
}
