.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;

  .fixed-header & {
    padding-top: $header-height;
  }

  .aside-opened & {
    @media (min-width: 1600px) {
      margin-right: $aside-width;
    }
  }
}

.page-main {
  flex: 1 1 auto;
}

.page-content {
  margin: .75rem 0;

  @include media-breakpoint-up(md) {
    margin: 1.5rem 0;
  }
}

.page-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1.5rem 0;
}

.page-title {
  margin: 0;
  font-size: $h3-font-size;
  font-weight: 400;
  line-height: 2.5rem;
}

.page-title-icon {
  font-size: 1.25rem;
  color: $text-muted;
}

.page-subtitle {
  margin-left: 2rem;
  font-size: px2rem(13px);
  color: $text-muted-dark;

  a {
    color: inherit;
  }
}

.page-options {
  margin-left: auto;
}

.page-breadcrumb {
  flex-basis: 100%;
}

.page-description {
  margin: .25rem 0 0;
  color: $text-muted-dark;

  a {
    color: inherit;
  }
}

.page-single {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.content-heading {
  margin: 2rem 0 1.5rem;
  font-size: px2rem(20px);
  font-weight: 400;
  line-height: 1.25;

  &:first-child {
    margin-top: 0;
  }
}
