.map,
.chart {
  position: relative;
  padding-top: calc(9 / 16 * 100%);
}

.map-square,
.chart-square {
  padding-top: 100%;
}

.map-content,
.chart-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.map-header {
  position: relative;
  height: 15rem;
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;

  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 10rem;
    pointer-events: none;
    content: "";
    background: linear-gradient(to bottom, rgba($body-bg, 0) 5%, $body-bg 95%);
  }
}

.map-header-layer {
  height: 100%;
}

.map-static {
  width: 100%;
  max-width: 640px;
  height: 120px;
  background-position: center center;
  background-size: 640px 120px;
}
