.navbar-nav {
  .nav-link,
  .nav-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: .3s color;

    .badge {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 1rem;
      padding: .2rem .25rem;
    }
  }

  .nav-item {
    // Fix display of dropdowns in responsive navbars
    .navbar-collapse.show & {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.nav-tabs {
  margin: 0 -.75rem;
  color: $text-muted;
  user-select: none;

  .nav-link {
    padding: 1rem 0;
    margin-bottom: -1px;
    font-weight: 400;
    color: inherit;
    border: 0;
    border-bottom: 1px solid transparent;
    transition: .3s border-color;

    &:hover:not(.disabled) {
      color: $text-muted-dark;
      border-color: $text-muted-dark;
    }

    &.active {
      color: $blue;
      background: transparent;
      border-color: $blue;
    }

    &.disabled {
      pointer-events: none;
      cursor: default;
      opacity: .4;
    }
  }

  .nav-item {
    position: relative;
    margin-bottom: 0;

    i {
      display: inline-block;
      width: px2rem(14px);
      margin-right: .25rem;
      font-size: px2rem(14px);
      line-height: 1;
      vertical-align: baseline;
    }

    &:hover {
      .nav-submenu {
        display: block;
      }
    }
  }

  .nav-submenu {
    position: absolute;
    z-index: 10;
    display: none;
    min-width: 10rem;
    background: #fff;
    border: 1px solid $border-color;
    border-top: none;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);

    .nav-item {
      display: block;
      padding: .5rem 1rem;
      margin: 0;
      color: $text-muted;
      cursor: pointer;
      transition: .3s background;

      &.active {
        color: $link-color;
      }

      &:hover {
        color: $text-muted-dark;
        text-decoration: none;
        background: rgba(0, 0, 0, .024);
      }
    }
  }
}
