.pagination-simple {
  .page-item {
    .page-link {
      background: none;
      border: none;
    }

    &.active .page-link {
      font-weight: 700;
      color: $pagination-color;
    }
  }
}

.pagination-pager {
  .page-prev {
    margin-right: auto;
  }

  .page-next {
    margin-left: auto;
  }
}

.page-total-text {
  align-self: center;
  margin-right: 1rem;
  color: $text-muted-dark;
}
