@use 'sass:math';

@keyframes indeterminate {
  0% {
    right: 100%;
    left: -35%;
  }
  100%,
  60% {
    right: -90%;
    left: 100%;
  }
}

@keyframes indeterminate-short {
  0% {
    right: 100%;
    left: -200%;
  }
  100%,
  60% {
    right: -8%;
    left: 107%;
  }
}

.progress {
  position: relative;
}

.progress-xs,
.progress-xs .progress-bar {
  height: .25rem;
}

.progress-sm,
.progress-sm .progress-bar {
  height: .5rem;
}

.progress-bar-indeterminate {
  &::after,
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-color: inherit;
    will-change: left, right;
  }

  &::before {
    animation: indeterminate 2.1s cubic-bezier(.65, .815, .735, .395) infinite;
  }

  &::after {
    animation: indeterminate-short 2.1s cubic-bezier(.165, .84, .44, 1) infinite;
    animation-delay: 1.15s;
  }
}


@keyframes loader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/**
Dimmer
*/
.dimmer {
  position: relative;

  .loader {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    display: none;
    margin: 0 auto;
    transform: translateY(-50%);
  }

  &.active {
    .loader {
      display: block;
    }

    .dimmer-content {
      pointer-events: none;
      opacity: .04;
    }
  }
}

/**
Loader
*/
$loader-size: 2.5rem !default;
.loader {
  position: relative;
  display: block;
  width: $loader-size;
  height: $loader-size;
  color: $blue;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $loader-size;
    height: $loader-size;
    margin: math.div(-$loader-size, 2) 0 0 math.div(-$loader-size, 2);
    content: "";
  }

  &::before {
    border: 3px solid currentcolor;
    border-radius: 50%;
    opacity: .15;
  }

  &::after {
    border: 3px solid;
    border-color: transparent;
    border-top-color: currentcolor;

    border-radius: 50%;
    box-shadow: 0 0 0 1px transparent;
    animation: loader .6s linear;
    animation-iteration-count: infinite;
  }
}
