.social-links {
  li {
    a {
      display: inline-block;
      width: 1.75rem;
      height: 1.75rem;
      line-height: 1.75rem;
      color: $text-muted;
      text-align: center;
      background: #f8f8f8;
      border-radius: 50%;
    }
  }
}
