.stamp {
  display: inline-block;
  min-width: 2rem;
  height: 2rem;
  padding: 0 .25rem;
  font-weight: 600;
  line-height: 2rem;
  color: #fff;
  text-align: center;
  background: $gray-600;
  border-radius: 3px;
}

.stamp-md {
  min-width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
}
