.lead {
  line-height: 1.4;
}

a {
  text-decoration-skip-ink: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  a {
    color: inherit;
  }
}

strong,
b {
  font-weight: 600;
}

p,
ul,
ol,
blockquote {
  margin-bottom: 1em;
}

blockquote {
  padding-left: 2rem;
  font-style: italic;
  color: $text-muted-dark;
  border-left: 2px solid $border-color;

  p {
    margin-bottom: 1rem;
  }

  cite {
    display: block;
    text-align: right;

    &::before {
      content: "— ";
    }
  }
}

code {
  padding: 3px;
  background: rgba(0, 0, 0, .025);
  border: 1px solid rgba(#000, .05);
  border-radius: 3px;

  pre & {
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
  }
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

pre {
  padding: 1rem;
  overflow: auto;
  font-size: 85%;
  hyphens: none;
  line-height: 1.45;
  color: $gray-800;
  text-shadow: 0 1px #fff;
  tab-size: 4;
  background-color: #f8fafc;
  border-radius: 3px;
}

img {
  max-width: 100%;
}

.text-wrap {
  font-size: 1rem;
  line-height: 1.66;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  > {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 1em;
    }
  }

  table {
    @extend .table, .table-bordered;
  }
}

.section-nav {
  padding: .5rem 1rem;
  margin: 1rem 0;
  list-style: none;
  background-color: $gray-100;
  border: 1px solid $border-color;
  border-radius: 3px;

  &::before {
    display: block;
    font-weight: 600;
    content: "Table of contents:";
  }
}
