.selectgroup {
  display: inline-flex;
}

.selectgroup-vertical {
  flex-direction: column;
}

.selectgroup-item {
  position: relative;
  display: flex;
  flex: 1;
  align-items: stretch;
}

.selectgroup:not(.selectgroup-vertical) > .selectgroup-item {
  + .selectgroup-item {
    margin-left: -1px;
  }

  &:not(:first-child) .selectgroup-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:not(:last-child) .selectgroup-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.selectgroup-vertical > .selectgroup-item {
  &:not(:last-child) {
    margin-bottom: 0;
  }

  + .selectgroup-item {
    margin-top: -1px;
    margin-left: 0;
  }

  &:not(:first-child) .selectgroup-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &:not(:last-child) .selectgroup-button {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.selectgroup-input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}

.selectgroup-button {
  position: relative;
  display: block;
  flex: 1;
  min-width: $input-height;
  padding: $input-btn-padding-y 1rem;
  font-size: $font-size-base;
  line-height: 1.5rem;
  color: $selectgroup-color;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid $selectgroup-border-color;
  border-radius: 3px;
  .selectgroup-input:checked + & {
    z-index: 1;
    color: $selectgroup-active-color;
    background-color: $selectgroup-active-bg;
    border-color: $selectgroup-active-border-color;
  }
  .selectgroup-input:focus + & {
    z-index: 2;
    color: $selectgroup-active-color;
    border-color: $selectgroup-active-border-color;
    box-shadow: $input-btn-focus-box-shadow;
  }
}

.selectgroup-button-icon {
  padding-right: .5rem;
  padding-left: .5rem;
  font-size: 1rem;
}

.selectgroup-pills {
  flex-wrap: wrap;
  align-items: flex-start;

  .selectgroup-item {
    flex-grow: 0;
    margin-right: .5rem;
  }

  .selectgroup-button {
    border-radius: 50px !important;
  }
}
