//.colorinput-stacked {
//	display: flex;
//	flex-wrap: wrap;
//
//	.colorinput {
//		margin-right: .25rem;
//	}
//}

.colorinput {
  position: relative;
  margin: 0;
  cursor: pointer;
}

.colorinput-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.colorinput-color {
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  color: #fff;
  border: 1px solid $border-color;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);

  &::before {
    position: absolute;
    top: .25rem;
    left: .25rem;
    width: 1.25rem;
    height: 1.25rem;
    content: "";
    background: $custom-checkbox-indicator-icon-checked no-repeat center center/50% 50%;
    opacity: 0;
    transition: .3s opacity;

    .colorinput-input:checked ~ & {
      opacity: 1;
    }
  }

  .colorinput-input:focus ~ & {
    border-color: $primary;
    box-shadow: $input-btn-focus-box-shadow;
  }
}
