.custom-switch .custom-control-label {
  &::before {
    background: $gray-200;
    border-radius: 3rem;
  }
  &::after {
    background: $white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    box-shadow: $box-shadow-sm;
  }
}
