@use "sass:color";
@use "sass:math";

$custom-range-slider-width: 240px !default;
$custom-range-slider-height: .125rem !default;
$custom-range-background-slider: color.adjust(
  $input-border-color,
  $lightness: 5%,
  $space: hsl
) !default;
$custom-range-background-filled-slider: $secondary !default;
$custom-range-thumb-width: .875rem !default;
$custom-range-thumb-height: .875rem !default;
$custom-range-thumb-radius: 50px !default;
$custom-range-thumb-background: #fff !default;
$custom-range-thumb-border: 1px solid $primary !default;

@function custom-range-long-shadow($color) {
  $size: math.div(
    -($custom-range-thumb-height - $custom-range-slider-height),
    2
  );
  $val: 1px 0 0 $size $color;
  $s: math.div($custom-range-slider-width, 1px);

  @for $i from 6 through $s {
    $val:
      #{$val},
      $i * 1px 0 0 $size #{$color};
  }

  @return $val;
}

.form-range {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: $input-height;
  padding: 0;
  overflow: hidden;
  appearance: none;
  cursor: pointer;
  background: none;
  border: 0;

  &:focus {
    outline: none;
    box-shadow: none;

    &::-webkit-slider-thumb {
      background-color: $primary;
      border-color: $primary;
    }

    &::-moz-range-thumb {
      background-color: $primary;
      border-color: $primary;
    }
  }

  &::-moz-focus-outer {
    border: 0;
  }

  &::-webkit-slider-runnable-track {
    height: $custom-range-slider-height;
    pointer-events: none;
    content: "";
    background: $custom-range-background-filled-slider;
  }

  &::-webkit-slider-thumb {
    width: $custom-range-thumb-width;
    height: $custom-range-thumb-height;
    margin-top:
      math.div(
        -($custom-range-thumb-height - $custom-range-slider-height),
        2
      );

    appearance: none;
    background: $custom-range-thumb-background;
    border: $custom-range-thumb-border;
    border-radius: $custom-range-thumb-radius;
    box-shadow: custom-range-long-shadow($custom-range-background-slider);
    transition: .3s border-color, .3s background-color;
  }

  &::-moz-range-track {
    width: $custom-range-slider-width;
    height: $custom-range-slider-height;
    background: $custom-range-background-slider;
  }

  &::-moz-range-thumb {
    position: relative;
    width: $custom-range-thumb-width;
    height: $custom-range-thumb-height;

    background: $custom-range-thumb-background;
    border: $custom-range-thumb-border;
    border-radius: $custom-range-thumb-radius;
    transition: .3s border-color, .3s background-color;
  }

  &::-moz-range-progress {
    height: $custom-range-slider-height;
    margin-top: 0;
    background: $custom-range-background-filled-slider;
    border: 0;
  }
}
